body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('C:\Users\Daniele\Desktop\projetosite\site');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f2f2f2;
}

a {
    color: rgb(41, 21, 129);
}

/* Estilos para o cabeçalho */
header {
    background-color: #4373bb;
    color: #fff;
    padding: 25px;
    text-align: center;
    position: relative;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: auto;
}
.container1 {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1002; /* Defina um valor maior para que este contêiner fique sobre os outros */       
    transition: top 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos para a propriedade top */
}

.sticky {
    top: -10px; /* Define a posição para onde o contêiner irá deslizar quando se tornar fixo */
  }

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Estilos para as seções */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    padding: 20px;
    background-color: #ffffff;
}

section h2 {
    color: #333;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin-bottom: 10px;
}

/* Estilos para o rodapé */
footer {
    background-color: #4373bb;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
